body {
   
    min-height: 100vh;
background: url('https://res.cloudinary.com/edifice-solutions/image/upload/v1716296576/Screenshot_2024-05-21_at_14.01.53_qburot.png');
background-repeat: no-repeat;
background-size:600px;
background-position: bottom right;


  
}

.whitediv{
    height: 380px;
    background-color: white;
}
.myinput{
    background-color: rgb(247, 250, 252);
}

.label{
    text-transform: uppercase;
}
.spacer{
    height: 5vh;
}

.mylogo{
    width: 20%;
}


.bottom-border-only {
    border: none;
    border-bottom: 0.6px solid rgb(184, 184, 184);
    border-radius: 0;
    box-shadow: none;
  }
  .bottom-border-only:focus {
    box-shadow: none;
    border-color: #007bff;
  }


.toggle-container {
    display: inline-block;
}

.toggle-slider {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 18px;
    background-color: #ccc;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-slider:before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s;
}
.mycheck {
    opacity: 0;
    position: absolute;
}

input:checked + .toggle-slider {
    background-color: #2196F3; /* Toggle active color */
}

input:checked + .toggle-slider:before {
    transform: translateX(20px);
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    img{
        width:70%;
        text-align: center;
    }
    .whitediv{
        width: 100%;
        
    }
  }