body {
   
    max-height: 100vh;
    width: 100%;
    background-color:black;
}

.whitediv{
    height: 380px;
    background-color: white;
    border-radius: 6px;
    padding: 0px;
    

}

.imagediv{
    background-color: lightgrey;
    margin: 0px;
}

.spacer{
    height: 20vh;
}

.logoimage{
    width: 80%;
}

.label{
    color:white;
    font-size:13px;
}

.form-control{
    height: 28px;
    margin-top: 10px;
}

.googlediv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #222;
    color: #fff;
    width: 80%;
    align-items: center;

}

.rap{
    width: 45%;
}
.mycheck{
    transform: scale(2); 
}

.input-group-text{
    height: 40px;
    margin-top: 2px;
    

}
.form-control{
    height: 40px;
}

input::placeholder {
    font-size:13px;
   margin-left: 20px;
}

.icons{
    color:rgb(195, 195, 195);
   
}

.forgot{
color: rgba(0,0,0,0.87);
font-size: 13px;
text-decoration: none;
}

.forgot:hover{
    color: rgba(0,0,0,0.87);
    font-size: 13px;
    text-decoration: none;  
}

.checkspan{
    font-size:14px;
}

.mybutton{
    background-color: rgb(33, 150, 243);
    height: 80px;
    width: 100%;
    margin-top: 10px;
    color: white;
    font-weight: 500;
}
.mybutton:hover{
    color: white;
    font-weight: 500;
}

.info{
    text-align: center;
    font-size: 10px;
    color:rgb(87, 87, 87);
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    img{
        width:70%;
        text-align: center;
    }
    .whitediv{
        width: 100%;
        
    }
  }